.navbar {
  margin-left: 0.3rem;
  margin-right: 1rem;
  width: 3rem;
  background-color: #000000d8;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 25px 0 0 25px;
  z-index: 2;

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  button{
    border: 0 transparent hidden;
    background-color: transparent;
    filter:opacity(50%) ;
    padding: 2px;
    border-radius: 12%;
  }

  .active_button{
    filter: opacity(100%);
    border-bottom: 2px solid rgb(131, 133, 134);
  }
}
