.HeaderColor {
  position: absolute;
  display: flex;
  left: 1vw;
  flex-grow: 1;
  z-index: 1;
  width: 99vw;
  height: 30vh;
  border-radius: 25px 0 0 0;
  overflow: hidden;
  background: rgb(191, 255, 192);
  background: linear-gradient(
    29deg,
    rgba(191, 255, 192, 1) 0%,
    rgba(84, 168, 160, 1) 22%,
    rgba(71, 115, 156, 1) 39%,
    rgba(167, 79, 58, 1) 62%,
    rgba(149, 62, 42, 0.9908450209442825) 70%,
    rgba(75, 22, 125, 1) 83%,
    rgba(21, 1, 40, 1) 96%
  );
  filter: blur(2px);
}
