.Searchbar {
  display: flex;
  align-items: center;
  color: white;
  z-index: 2;

  input {
    font-size: 18px;
    padding: 5px;
    height: 2rem;
    width: 12rem;
    background-color: #3f3f3fbe;
    border: 1px solid rgb(0, 0, 0);
    outline: none;
    border-radius: 20px;
    color: rgba(255, 255, 255, 0.76);
    padding-left: 1rem;
  }

}
