.Stats_box {
  //   border: 1px solid white;
  padding: 0.3rem;
  width: max-content;
  color: #fff;

  .top_row {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.2rem;

    .title {
      color: grey;
      text-transform: capitalize;
    }

    .posotive_stats {
      color: rgb(48, 233, 24);
      font-size: 0.8rem;
      &::before {
        color: rgb(48, 233, 24);
        content: "˄ +";
        font-size: 0.8rem;
      }
      &::after {
        color: rgb(48, 233, 24);
        content: "%";
        font-size: 0.8rem;
      }
    }

    .negtive_stats {
      color: rgb(231, 46, 46);
      font-size: 0.8rem;

      &::before {
        color: rgb(231, 46, 46);
        content: "˅ -";
        font-size: 0.8rem;
      }
      &::after {
        color: rgb(231, 46, 46);
        content: "%";
        font-size: 0.8rem;
      }
    }
  }
  .finel_sum {
    text-align: center;
    &::before {
      content: "$ ";
      color: gray;
      font-size: 0.9rem;
    }
    color: rgba(255, 255, 255, 0.753);
    font-size: 1.2rem;
    font-weight: bold;
  }

  .bottom_row {
display: flex;
flex-direction: row-reverse;
justify-content: space-around;

    .posotive_stats {
      color: rgb(48, 233, 24);
      font-size: 0.8rem;
      &::before {
        color: rgb(48, 233, 24);
        content: "˄ +";
        font-size: 0.8rem;
      }
      &::after {
        color: rgb(48, 233, 24);
        content: "%";
        font-size: 0.8rem;
      }
    }

    .negtive_stats {
      color: rgb(231, 46, 46);
      font-size: 0.8rem;

      &::before {
        color: rgb(231, 46, 46);
        content: "˅ -";
        font-size: 0.8rem;
      }
      &::after {
        color: rgb(231, 46, 46);
        content: "%";
        font-size: 0.8rem;
      }
    }

    .finel_sum {
      text-align: center;
      &::before {
        content: "$ ";
        color: gray;
        font-size: 0.9rem;
      }
      color: rgba(255, 255, 255, 0.753);
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}
